<!DOCTYPE html>
<html>
<head>
<style>
    .my_label{
        color:red;
        display: block;
        font-size:20px;
    }

</style>
<title>Libarary Information Management</title>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>



<form method="POST" action="/save">
    {% csrf_token %}

    <table>
        <tbody>
            <tr>
                <td><label class="my_label">Student name</label></td>
                <td><input type="text" name="student_name"></td>
            </tr>
            <tr>
                <td><label class="my_label">Student Age</label></td>
                <td><input type="text" name="student_name"></td>
            </tr>
            <tr>
                <td colspan="2"> <button type="submit" style="background-color:blue;display: block;margin-bottom:15px;font-size:20px;width:100%;color:white;">Save</button></td>
            </tr>
        </tbody>
    </table>

</form>

<a href="shop">Shopping</a>

</body>
</html>